@import '../fonts/bagoss-standard/stylesheet.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');*/



/* General */

:root{

     --bs-heading-color: #2e2f35;

     --bs-text-color: #2e2f35;

     --bs-theme-orange: #256EFF;

     --bs-theme-orange-hover: #256EFF;

}



h1, h2, h3, h4, h5, h6{

     color: var(--bs-heading-color);

}



a{

     color: var(--bs-theme-orange);

}



body{

     font-family: 'BagossStandard';

     color: var(--bs-text-color);

     overflow-x: hidden;

}



.bg-theme-color{

     background-color: var(--bs-theme-orange);

}



.bg-theme-color:hover,

.bg-theme-color:focus,

.bg-theme-color:active{

     background-color: var(--bs-theme-orange-hover) !important;

     border-color: var(--bs-theme-orange-hover) !important;

}



.border-theme-color{

     border-color: var(--bs-theme-orange);

}



p{

     font-family: "Montserrat", sans-serif;

     font-weight: 500;

     font-size: 16px;

     line-height: 170%;

}

button.btn.btn-default {

    border: 1px solid var(--bs-theme-orange);

}

.swifi-section{

     padding: 100px 0;

}



.rounded-more{

     border-radius: 35px;

     -webkit-border-radius: 35px;

     -moz-border-radius: 35px;

     -ms-border-radius: 35px;

     -o-border-radius: 35px;

}



/* Header */

nav{

     padding: 18px 0!important;

}



.navbar-brand img{

     max-width: 180px;

}



.nav-link {

    color: var(--bs-text-color);

    padding: 0.7rem 1rem !important;

    font-size: 1.3125rem;

    line-height: 1.04762;

    transition: color .2s, transform .2s;

}



.nav-link:before{

     background-color: var(--bs-theme-orange);

     height: 3px;

}



.nav-link img{

     height: 25px;

}



.dropdown-toggle::after {

    border: none;

    background-image: url(../images/down-arrow.png);

    width: 25px;

    height: 25px;

    vertical-align: bottom;

    background-size: cover;

}



.hamburger-menu{

     border: none;

     background-color: transparent;

     font-size: 22px;

     color: #333;

     border: 1px soli

}



.nav-btn{

     background-color: var(--bs-theme-orange);

     color: #fff;

     border-radius: 25px;

     -webkit-border-radius: 25px;

     -moz-border-radius: 25px;

     -ms-border-radius: 25px;

     -o-border-radius: 25px;

     transition: all .3s ease;

     -webkit-transition: all .3s ease;

     -moz-transition: all .3s ease;

     -ms-transition: all .3s ease;

     -o-transition: all .3s ease;

}



.nav-btn:hover,

.nav-btn:focus,

.nav-btn:active{

     background-color: var(--bs-theme-orange-hover);

     color: #fff;

}



/* Footer */



footer{

     padding: 100px 0 30px 0;

     border-top: 3px solid var(--bs-theme-orange);

}



footer ul{

     list-style: none;

     padding: 0;

     margin: 0;

}



footer ul li{

     margin-bottom: 15px;

}



footer ul li a{

     color: var(--bs-text-color);

     padding: 1rem 0 !important;

     font-size: 1.1rem;

     line-height: 1.04762;

     transition: all .3s, transform .2s;

     text-decoration: none;

     -webkit-transition: all .3s, transform .2s;

     -moz-transition: all .3s, transform .2s;

     -ms-transition: all .3s, transform .2s;

     -o-transition: all .3s, transform .2s;

     position: relative;

}



footer ul li a:before{

     content: "";

     width: 20px;

     height: 2px;

     background-color: var(--bs-theme-orange);

     position: absolute;

     left: 0;

     top: 25px;

     visibility: hidden;

     opacity: 0;

     transition: all .4s ease;

     -webkit-transition: all .4s ease;

     -moz-transition: all .4s ease;

     -ms-transition: all .4s ease;

     -o-transition: all .4s ease;

}



.social-nav{

     list-style: none;

     padding: 0;

     display: flex;

}



.social-nav li{

     margin: 0;

     margin-right: 15px;

}



.social-nav li a{

     padding: 0 !important;

     width: 40px !important;

     height: 40px !important;

     display: inline-flex;

     background-color: #f7f7f7;

     border-radius: 50%;

     -webkit-border-radius: 50%;

     -moz-border-radius: 50%;

     -ms-border-radius: 50%;

     -o-border-radius: 50%;

     justify-content: center;

     align-items: center;

     transition: all .3s ease;

     -webkit-transition: all .3s ease;

     -moz-transition: all .3s ease;

     -ms-transition: all .3s ease;

     -o-transition: all .3s ease;

}



.social-nav li a:hover,

.social-nav li a:focus,

.social-nav li a:active{

     background-color: var(--bs-theme-orange);

     color: #fff;

}



footer ul:not(.social-nav) li a:hover, 

footer ul:not(.social-nav) li a:focus,

footer ul:not(.social-nav) li a:active{

     padding-left: 35px !important;

}



footer ul:not(.social-nav) li a:hover:before, 

footer ul:not(.social-nav) li a:focus:before,

footer ul:not(.social-nav) li a:active:before{

     visibility: visible;

     opacity: 1;

}



/* Request Demo Section - Home Page */



section.request-demo{

     padding: 150px 0 100px 0;

}



.heading h1{

     font-size: 4.5rem !important;

     font-weight: 500 !important;

     line-height: 1.0125 !important;

}



.heading h2{

     font-size: 3.5rem !important;

     font-weight: 500 !important;

     line-height: 1.0125 !important;

}



.heading h3{

     font-size: 2.25rem !important;

     font-weight: 500 !important;

     line-height: 1.125 !important;

}



.heading h4{

     font-size: 1.5rem !important;

     font-weight: 500 !important;

     line-height: 1.125 !important;

}



.empty-space-full{

     height: 240px;

}



.empty-space-half{

     height: 120px;

}



.bubble-bg-slider-img{

     z-index: 2;

     opacity: .9;

     width: 56%;

     height: auto;

     position: absolute;

     bottom: 0;

     left: 34.5px;

}



.bubble-bg-slider-img.is-1{

     z-index: 1;

}



.bubble-bg-slider-img.is-2{

    z-index: 3;

    transform-style: preserve-3d;

    width: 35%;

    left: 43%;

    transform: translate(-25px) rotateX(0) rotateY(180deg) rotate(0);

    -webkit-transform: translate(-25px) rotateX(0) rotateY(180deg) rotate(0);

    -moz-transform: translate(-25px) rotateX(0) rotateY(180deg) rotate(0);

    -ms-transform: translate(-25px) rotateX(0) rotateY(180deg) rotate(0);

    -o-transform: translate(-25px) rotateX(0) rotateY(180deg) rotate(0);

}



.bubble-bg-slider-img.is-3{

     z-index: 1;

     width: 65%;

     left: 38%;

}



.mobile-bg {

     position: absolute;

     width: 100%;

     height: auto;

     left: 0%;

     top: 0%;

     right: 0%;

     bottom: 0%;

     z-index: 10;

}



.bubble-bg-slider-wrapper{

     padding: 2rem;

     z-index: 9;

}



.bubble-bg-slider-init{

     top: 80px;

}



.btn-theme-orange{

    background-color: var(--bs-theme-orange);

    color: #fff;

    text-align: center;

    letter-spacing: .05px;

    border-radius: 10px;

    padding: 1.5rem 2rem;

    font-size: 1.875rem;

    font-weight: 400;

    line-height: 1.13333;

    transition: background-color .2s;

}



.btn-theme-orange:hover,

.btn-theme-orange:focus,

.btn-theme-orange:active{

     background-color: var(--bs-theme-orange-hover);

     color: #fff;

}



.bg-light-gray{

     background-color: #f7f7f7;

}



/* Testimonials */

section.testimonials{

     padding: 100px 0;

}



.testimonials-box{

     background-color: #fbb9ae;

     margin: 0 15px;

     padding: 75px;

     min-height: 570px;

     position: relative;

}



.testimonials-box p{

     font-size: 1.5rem;

}



.testimonials-box-meta p{

     margin: 0;

}



.testimonials-box-meta img{

     width: 80px;

     height: 80px;

     border: 3px solid #fff;

     object-fit: cover;

     object-position: center;

     border-radius: 50%;

     -webkit-border-radius: 50%;

     -moz-border-radius: 50%;

     -ms-border-radius: 50%;

     -o-border-radius: 50%;

}



.testimonials-box-meta{

     position: absolute;

     bottom: 50px;

     left: 75px;

}



/* Banner */



.banner-section{

     background-size: cover;

     background-position: center;

     background-repeat: no-repeat;

     min-height: 100vh;

}



.banner-inner{

     position: absolute;

     left: 0;

     top: 0;

     background-color: #00000046;

}



.banner-inner h1{

     font-size: 2.5rem;

}



.banner-inner p{

     font-size: 1rem;

}



.banner-inner h1, 

.banner-inner p,

.banner-inner span{

     color: #fff;

}



.banner-inner input{

     border-right: none;

     outline: none;

     box-shadow: none;

     border: none;

}



.banner-inner input:hover,

.banner-inner input:focus,

.banner-inner input:active{

     outline: none;

     box-shadow: none;

     border: none;

}



.banner-inner .input-group-text{

     border-bottom-left-radius: 0;

     border-top-left-radius: 0;

     border-left: none;

     background-color: #fff;

     outline: none;

     box-shadow: none;

     border: none;

}



@media(min-width: 320px) and (max-width: 767px){

     .banner-section{

          min-height: 500px;

     }



}



/* Icons Section */



.icon-box{

     text-align: center;

     padding: 0 15px;

}



.icon-box img{

     /* margin-bottom: 25px; */

}



.icon-box h3{

     font-size: 28px;

}



.icon-box p{

     font-size: 16px;

}



.icon-box a{

     color: var(--bs-theme-orange);

     text-decoration: none;

     font-weight: 600;

     font-size: 18px;

     display: inline-flex;

     gap: 10px;

     align-items: center;

}



/* Content Section */



.content-section{

     background-color: #f7f7f7;

}



/* Order Section */



.order-section .icon-box img{

     height: 300px;

     width: 250px;

     object-fit: cover;

     object-position: center;

}



.picture-box {

     min-height: 350px;

     background-size: cover;

     background-position: center;

     background-repeat: no-repeat;

     border-radius: 15px;

     box-shadow: 0px 5px 10px #00000059;

     transition: all .5s ease;

     -webkit-transition: all .5s ease;

     -moz-transition: all .5s ease;

     -ms-transition: all .5s ease;

     -o-transition: all .5s ease;

}



.picture-box:hover{

     box-shadow: 0px 5px 30px #00000078;

}



.pictur-box-content {

    background-color: #00000046;

    min-height: inherit;

    border-radius: inherit;

    -webkit-border-radius: inherit;

    -moz-border-radius: inherit;

    -ms-border-radius: inherit;

    -o-border-radius: inherit;

    padding: 25px;

    display: flex;

    flex-flow: column;

    align-items: flex-start;

    justify-content: end;

}



.pictur-box-content h3,

.pictur-box-content p{

     color: #fff;

}



/* FAQs */



.accordion-item {

     border-radius: 0 !important;

     -webkit-border-radius: 0 !important;

     -moz-border-radius: 0 !important;

     -ms-border-radius: 0 !important;

     -o-border-radius: 0 !important;

     margin-bottom: 15px;

     border: none !important;

}



.accordion-item .accordion-header i{

     color: var(--bs-text-color);

     border: 2px solid var(--bs-text-color);

     width: 30px;

     height: 30px;

     display: inline-flex;

     justify-content: center;

     align-items: center;

     margin-right: 15px;

}



.accordion-item .accordion-header .accordion-button[aria-expanded="false"]  i.open{

     display: none;

}



.accordion-item .accordion-header .accordion-button[aria-expanded="true"] i.closed{

     display: none;

}



.accordion-button:focus {

    box-shadow: none;

}



.accordion-button:not(.collapsed){

     background-color: transparent;

     box-shadow: none;

}



.accordion-button::after{

     display: none;

}



/* Other Banner Section */



.other-banner-section{

     min-height: 500px;

     background-size: cover;

     background-position: center;

     background-repeat: no-repeat;

}



.ot-banner-overlay{

     min-height: inherit;

     background-color: #0000004b;

}



/* Contact Map */



.contact-map iframe{

     margin: 0;

     width: 100%;

     height: 500px;

}



.contact-form label span{

     color: red;

}



.contact-info-list{

     padding: 0;

     margin: 0;

     list-style: none;

}



.contact-info-list li{

     display: flex;

     margin-bottom: 15px;

     font-family: "Montserrat", sans-serif;

     font-weight: 500;

}



.contact-info-list li i{

     width: 30px;

     height: 30px;

     border: 1px solid var(--bs-theme-orange);

     border-radius: 50%;

     display: inline-flex;

     justify-content: center;

     align-items: center;

     color: var(--bs-theme-orange);

     margin-right: 15px;

     -webkit-border-radius: 50%;

     -moz-border-radius: 50%;

     -ms-border-radius: 50%;

     -o-border-radius: 50%;

}



.contact-info-list li strong{

     margin-right: 5px;

}



/* Timeline Section */



/* Blog Listing Section */



.gray-separater{

     width: 1px;

     height: 48px;

     background-color: #bfbfbf;

     margin-left: 30px;

     margin-right: 30px;

}



.blog-navigation > ul{

     display: flex;

     gap: 25px;

}



.blog-navigation ul li a{

     color: var(--bs-text-color);

     font-size: 1rem;

     line-height: 1.04762;

     transition: color .2s, transform .2s;

     -webkit-transition: color .2s, transform .2s;

     -moz-transition: color .2s, transform .2s;

     -ms-transition: color .2s, transform .2s;

     -o-transition: color .2s, transform .2s;

     text-decoration: none;

}



.blog-navigation ul li .dropdown button{

     border: none;

     color: var(--bs-text-color);

     font-size: 1rem;

     line-height: 1.04762;

     transition: color .2s, transform .2s;

     -webkit-transition: color .2s, transform .2s;

     -moz-transition: color .2s, transform .2s;

     -ms-transition: color .2s, transform .2s;

     -o-transition: color .2s, transform .2s;

     text-decoration: none;

     background-color: transparent;

     padding: 0;

     appearance: none;

}





.blog-navigation ul li .dropdown button:after{

     width: 20px;

     height: 20px;

}



.blog-nav {

     display: flex;

     align-items: center;

     /* justify-content: center; */

}



.blog-listing-box img{

     height: 300px;

     width: 100%;

     object-fit: cover;

     object-position: center;

     margin-bottom: 20px;

}



.blog-listing-box a{

     text-decoration: none;

}



.blog-listing-box h3{

     font-weight: 400;

     font-size: 20px;

     line-height: 32px;

}



.slick-slide{

     margin-left:  15px;

     margin-right:  15px;

}



.slick-list {

     margin-left: -15px;

     margin-right: -15px;

}



.slick-arrow {

     position: absolute;

     top: 35%;

     width: 40px;

     height: 40px;

     background-color: var(--bs-theme-orange);

     opacity: 0.8;

     border: none;

     border-radius: 50%;

     color: #fff;

     z-index: 999;

}



.slick-arrow.slick-prev{

     left: -45px;

}



.slick-arrow.slick-next{

     right: -45px;

}



.blog-navigation > .dropdown button{

     border: none;

     color: var(--bs-text-color);

     font-size: 1rem;

     line-height: 1.04762;

     transition: color .2s, transform .2s;

     -webkit-transition: color .2s, transform .2s;

     -moz-transition: color .2s, transform .2s;

     -ms-transition: color .2s, transform .2s;

     -o-transition: color .2s, transform .2s;

     text-decoration: none;

     background-color: transparent;

     padding: 0;

     appearance: none;

}



.blog-navigation > .dropdown button:after{

     width: 20px;

     height: 20px;

}



@media(min-width: 320px) and (max-width: 767px){

     .blog-nav {

          flex-wrap: wrap;

     }



     .slick-arrow.slick-next {

          right: 15px;

     }



     .slick-arrow.slick-prev {

          left: 15px;

     }

}



@media(min-width: 768px) and (max-width: 1023px){

     .blog-nav {

          flex-wrap: wrap;

          row-gap: 35px;

     }    



     .slick-arrow.slick-next {

          right: 15px;

     }



     .slick-arrow.slick-prev {

          left: 15px;

     }



     .blog-listing-slider{

          margin-top: 30px;

     }

}



@media(min-width: 1024px) and (max-width: 1200px){

     .blog-nav {

          flex-wrap: wrap;

          row-gap: 35px;

     }    



     .slick-arrow.slick-next {

          right: -15px;

     }



     .slick-arrow.slick-prev {

          left: -15px;

     }

}



/* Blog Detail Section */



.blog-detail-section{



}



/* Terms & Conditions */



.vertical-tabs {

    border: none;

    display: flex;

    flex-flow: column;

    border: 1px solid #cccccc42 !important;

    border-bottom: 1px solid #cccccc42 !important;

}



.vertical-tabs li {

    border: none;

    text-align: left;

    border-bottom: 1px solid #cccccc42;

}



.vertical-tabs li:last-child {

    border-bottom: none;

}



.vertical-tabs li button{

     border: none !important;

     font-size: 17px !important; 

}



.vertical-tabs .nav-link.active, 

.vertical-tabs .nav-link:hover,

.vertical-tabs .nav-link:focus,

.vertical-tabs .nav-link:active{

     background-color: transparent;

     color: var(--bs-theme-orange)

}



/* Pharmacy Detail Banner */



.pharmacy-detail-banner .ot-banner-overlay{

     background-color: #000000a6;

}





.pharmacy-single-info-img{

     width: 100px;

     height: 100px;

     background-color: #fff;

     border-radius: 50%;

     -webkit-border-radius: 50%;

     -moz-border-radius: 50%;

     -ms-border-radius: 50%;

     -o-border-radius: 50%;

     overflow: hidden;

     display: flex;

     align-items: center;

     justify-content: center;

     box-shadow: 0px 2px 10px #ffffffb5;

}

.pharmacy-single-info img{

     width: 85%;

     height: 85%;

     object-fit: cover;

     object-position: center;

}



.pharmacy-single-info-ratings{

     color: var(--bs-theme-orange);

}



/* Single Pharmacy Detail */



.pharmacy-products-slide-img{

     position: relative;

}



.pharmacy-products-slide-img a{

     background-color: #fff;

     box-shadow: 0px 0px 7px #0000005c;

     border-radius: 15px;

     -webkit-border-radius: 15px;

     -moz-border-radius: 15px;

     -ms-border-radius: 15px;

     -o-border-radius: 15px;

     color: var(--bs-text-color);

     font-weight: 500;

     text-decoration: none;

     padding: 5px 8px;

     position: absolute;

     bottom: 15px;

     right: 5px;

}



.pharmacy-products-slide-meta{



}



.pharmacy-products-slide-meta .label-success{

     color: rgb(10, 150, 10);

     background-color: rgba(110, 221, 110, 0.514);

     font-size: 12px;

     font-weight: 500;

     padding: 3px 5px;

     border-radius: 3px;

     -webkit-border-radius: 3px;

     -moz-border-radius: 3px;

     -ms-border-radius: 3px;

     -o-border-radius: 3px;

}



.pharmacy-products-slide-meta .label-error{

     color: rgb(150, 19, 10);

     background-color: rgba(221, 110, 110, 0.514);

     font-size: 12px;

     font-weight: 500;

     padding: 3px 5px;

     border-radius: 3px;

     -webkit-border-radius: 3px;

     -moz-border-radius: 3px;

     -ms-border-radius: 3px;

     -o-border-radius: 3px;

}



.pharmacy-products-slide-meta h3{

     font-weight: 400;

     font-size: 16px;

     font-family: "Montserrat", sans-serif;

}



.pharmacy-products-slide-meta h4{

     font-size: 14px;

}



.pharmacy-products-slide-meta h4 i{

     color: var(--bs-theme-orange);

}



.pharmacy-products-slide-meta h4 span{

     font-weight: 100;

     margin-left: 10px;

}



/*Cart Page css*/



.cart-card .close{

     float: right;

}



.cart-card{

    margin: auto;

    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border-radius: 1rem;

    border: transparent;

}

@media(max-width:767px){

    .cart-card{

        margin: 3vh auto;

    }

}

.cart{

    background-color: #fff;

    padding: 4vh 5vh;

    border-bottom-left-radius: 1rem;

    border-top-left-radius: 1rem;

}

@media(max-width:767px){

    .cart{

        padding: 4vh;

        border-bottom-left-radius: unset;

        border-top-right-radius: 1rem;

    }

}

.summary{

    border-top-right-radius: 1rem;

    border-bottom-right-radius: 1rem;

    padding: 4vh;

    color: rgb(65, 65, 65);

}

@media(max-width:767px){

    .summary{

    border-top-right-radius: unset;

    border-bottom-left-radius: 1rem;

    }

}



.back-to-shop {

    /* position: absolute;

    bottom: 10px;

    left: 10px; */

}



.back-to-shop a {

    text-decoration: none;

    padding-right: 7px;

}



.proceed-checkout {

    position: absolute;

    width: 100%;

    overflow: hidden;

    bottom: 0;

    left: 0;

    padding: 20px 13px;

}



@media(min-width: 320px) and (max-width: 767px){

     .proceed-checkout {

          position: unset !important;

     }



     .cart-card {

          width: 90%;

     }

}

/* Inner Banner Section */

.inner-banner-section{
     min-height: 55vh;
}

.inner-banner-section img {
    display: none;
}

/* Pharmacy Cats */

.pharmacy-cats .nav-tabs{
     border: none;
}

.pharmacy-cats .nav-tabs .nav-item{
     margin-right: 15px;
}

.pharmacy-cats .nav-tabs .nav-item:last-child{
     margin-right: 0;
}

.pharmacy-cats .nav-tabs .nav-item .nav-link {
     border: none;
     background-color: #ccc;
     border-radius: 25px;
     color: var(--bs-text-color);
     font-size: 16px;
     font-weight: 500;
     transition: all .3s ease;
     -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
     -ms-transition: all .3s ease;
     -o-transition: all .3s ease;
}

.pharmacy-cats .nav-tabs .nav-item.show .nav-link,
.pharmacy-cats .nav-tabs .nav-link.active{
     border: none;
     color: #fff;
     background-color: var(--bs-text-color);
}

.pharmacy-cats .nav-tabs .nav-item .nav-link:hover{
     border: none;
     color: #fff;
     background-color: var(--bs-text-color);
}

.pharmacy-products-slider_not .pharmacy-products-slide {
    margin-bottom: 30px;
}